In [1]:
import pandas

In [2]:
df=pandas.read_excel("pythonbmi.xlsx")

In [3]:
df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [4]:
def bmi_index(HeightCm, WeightKg):
    bmi = int(WeightKg/(HeightCm**2)*10000)
    if(bmi<=18.5):
        return 'under weight'
    elif bmi>18.5 and bmi<24.9:
        return(bmi, 'normal weight', 'low risk')
    elif bmi>25 and bmi<29.5:
        return(bmi, 'over weight', 'enhanced risk')
    elif bmi>30 and bmi<34.9:
        return(bmi, 'moderately obese', 'medium risk')
    elif bmi>35 and bmi<39.9:
        return(bmi, 'severely obese', 'high risk')
    else:
        return(bmi, 'very severely obese', 'very high risk')
df['bmi'],df['bmi_stat'],df['risk']=df.apply(lambda row:bmi_index(row['HeightCm'],row['WeightKg']),axis=1,result_type='expand').T.values

In [5]:
df

   Gender  HeightCm  WeightKg bmi          bmi_stat           risk
0    Male       171        96  32  moderately obese    medium risk
1    Male       161        85  32  moderately obese    medium risk
2    Male       180        77  23     normal weight       low risk
3  Female       166        62  22     normal weight       low risk
4  Female       150        70  31  moderately obese    medium risk
5  Female       167        82  29       over weight  enhanced risk

In [6]:
df[df['bmi_stat']=='over weight'].count()

Gender      1
HeightCm    1
WeightKg    1
bmi         1
bmi_stat    1
risk        1
dtype: int64